---
title: Student Buying Club Brief
---
<div class="well">
<h5>SBC - The Student Buying Club</h5>
<p>Our vision is that students will be able to combine their buying power to get good deals on products and services that they want.</p>

<p>Imagine a site or an app showing deals on nice watches, raybans, beats headphones, available to a group of 5 or more students buying together. Where do the products come from? Merchants, local or national, who want to access the university buyer more efficiently can submit them. Or students, looking to leverage their buying power, propose a deal they would want.</p>

</div>
