---
title: Magic Travel Book Brief
---
<div class="well">
<h5>MTB - Magic Travel Book</h5>
<p>Our vision is of an online travel book that always opens to the sites, history, culture and activities available nearby.</p>

<p>There are many open questions for each team to play around with: Where does the content come from? What kinds of content? Photos? Videos? Text, Shopping? How is the informatin organized? Who is the product aimed at? What exact problem is it trying to solve? How will the business make money? </p>

</div>
