---
title: Student Buying Club Brief
---
<div class="well">
<h5>SBC - The Student Buying Club</h5>
<p>Our vision is that students will be able to combine their buying power to get good deals on products and services that they want.</p>

<p>There are many open questions for each team to play around with: Where do the products come from? What kinds of products? How about services? What price ranges? Merchants? Local or national distributors? Other students? Why would the students use this? Why would the sellers uyse this? Is it an auction, a blind auction, a fixed price? All of the above? What about delivery? </p>

</div>
