---
title: "Who's got the monkey?"
---
## 4. Read classic article <a href=" http://resources.library.brandeis.edu/login?url=http://go.galegroup.com/ps/i.do?p=EAIM&sw=w&u=mlin_m_brandeis&v=2.1&id=GALE%7CA57484465&it=r&asid=befacd0724dc4ad12c4041edf0ee9288.">"Management Time: Who's got the monkey"</a>

### Think about this

* It's a classic from the Harvard Business Review, they say the most purchased reprint. (By the way, with a little bit of googling you can find a prettier pdf of this article.) 
* Think about it and your gut reaction to it. 
* Do you understand it from your own experience? 
* Have you tried to put the monkey on someone else?
* Has a peer or manager or professor tried to put a monkey on your back.
* Do you think the perspective of this article is constructive or manipulative? 
* <%= deliverable "Write your responses to these as a post in the participation blog" %>

