---
title: Hands On Heroku for Rails
---
#### Introduction
In this hands on demo you will create a new minimal Rails app, and then configure it so that it uses Postgres for both development and production.

**Here's the video: [Click here to view a video of this process](https://youtu.be/jlm4CxkguAc)**

##### Notation
* A line that starts with a $ means that the text following the $ should be typed into your shell (terminal)
* **Remember not to type in the $ yourself!!!!**
* Other lines are to be added to various files, and will be explained in context.

##### Creating a minimal Rails app
* `$ rails new -d=postgresql herokudemo`
* `$ rails g resource solar_system name:text size:integer`
* `$ rake db:migrate`

#### Get Database going
* Add to seeds.rb file: `SolarSystem.create(name: "Sol", size: 9)`
* `rake db:seed`
* `rails generate controller welcome index`

* Add these lines to app/views/welcome/index.html.erb:

<%= code_begin %>
<h2>Hello World</h2>
<p>
  The time is now: <%%= Time.now %>
</p>
<p>
  Number of Solar Systems: <%%= SolarSystem.all.count %>
</p>
<%= code_end "html" %>

* Add to routes.rb: `root 'welcome#index'`

##### See if the app works
* `$ rails c`
* Type this into the console: `SolarSystem.all`
* `$ rails server`
* Now visit the home page in your browser, at http://0.0.0.0:3000

#####  Set up heroku
* Go to the heroku web site and create a free account on heroku
* install heroku toolbelt (see: https://toolbelt.heroku.com)
* check by typing `$ heroku`
* Log into your account, by typing `$ heroku login` and supplying your email and password

* Now get your app set up on git and github:
  * Go to www.github.com and create a brand new repo with the same name as your rails app, herokudemo
  * Back on your own computer:
    * `$ git init`
    * `$ git remote add origin git@github.com:xxxxx` (substitute your git repo address there)
    * `$ git add --all`
    * `$ git commit -m "first commit"`
    * `$ git push -u origin master`
    * `$ git status`
* Now set up your app on heroku and upload it
  * `$ heroku create`
  * `$ git push heroku master`
  * `$ heroku run rake db:migrate`
  * `$ heroku run rake db:seed`
  * `$ heroku ps`
  * `$ heroku run rails c`
  * `$ heroku open`
