---
title: Allison Perkel
---

Allison is currently Vice President of Engineering at Capital One. She has deep experience in technology and leadership roles, working in hardware, robotics, software, security and others. I'm excited that she has agreed speak!
<hr/>

<a class="embedly-card" data-card-align="left" href="https://www.linkedin.com/in/allisonperkel/">Allison Perkel | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

