---
title: Andy Payne
---

<div style="width:150px; float:left; margin-right:10px;">
  <img src="https://payne.org/about/photo.jpg" style="width:150px;">
</div>

We are lucky today to have [Andy Payne](https://www.linkedin.com/in/acpayne/) as a guest lecturer. I have known Andy for some years, back when I worked at [Lotus Development Corporation](https://en.wikipedia.org/wiki/Lotus_Software) and Andy worked at Open Market. Andy and Open Market were at the forefront of inventing many of the concepts and technologies that underly a lot of the commercial ecommerce world today. Andy holds the [patent for many ecommerce inventions](http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&Sect2=HITOFF&u=%2Fnetahtml%2Fsearch-adv.htm&r=0&p=1&f=S&l=50&Query=in%2F%22payne%2C+andrew%22+and+ic%2Flincoln&d=ptxt), most interestingly what we [know today as the "shopping cart".](http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&Sect2=HITOFF&u=%2Fnetahtml%2Fsearch-adv.htm&r=20&p=1&f=G&l=50&d=ptxt&S1=((%22payne,+andrew%22.INNM.)+AND+lincoln.INCI.)&OS=in/%22payne,+andrew%22+and+ic/lincoln&RS=(IN/%22payne,+andrew%22+AND+IC/lincoln)). Andy is an expert on many topics, which he writes about regularly on his [personal blog](https://payne.org/blog/
). 