---
title: Barry Ruditsky
---
#### Guest Lecturer: Barry Ruditsky

We are lucky to have Barry Ruditsky lead our discussion today. Barry has been a sales person, a sales manager, a business development manager and a strategist. Once we developers finish building the product he's the one that needs to figure out how or whether to sell it. You can find [information about Barry on LinkedIn](https://www.linkedin.com/in/barryruditsky/). You might ask him to link to you on linkedIn as well. Barry worked with me in the company we started, eRoom Technology. Today he is in charge of business development and EMC Corporation. Barry will explore questions of pricing and business models, partnering, actually going into the market, and related topics.

<a class="embedly-card" href="https://www.linkedin.com/in/barryruditsky">Barry Ruditsky | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>