---
title: Bill Wittenberg
---
* Our speaker today is Bill Wittenberg. You can find [information about Bill on LinkedIn.](https://www.linkedin.com/pub/bill-wittenberg/0/1a/7a). You might ask him to link to you on linkedIn!

<a class="embedly-card" data-card-align="left" href="https://www.linkedin.com/pub/bill-wittenberg/0/1a/7a/">Bill Wittenberg | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
