---
title: Debbie Brandewine
---

## Guest Speaker: Debbie Brandewine

<a class="embedly-card" href="https://www.linkedin.com/in/debbie-brandwene-01a2a34/">Debbie Brandewene | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>