---
title: Jeffrey Beir
---
### Speaker: Jeffrey Beir

We are lucky today to have Jeffrey Beir lead the discussion. His greatest claim to fame (ahem) is that he and I together founded [eRoom Technology](https://en.wikipedia.org/wiki/ERoom) way back in the previous millenium. Jeffrey was my boss and the CEO. Before that he was a top executive at [Lotus Development Corporation](https://en.wikipedia.org/wiki/Lotus_Software), where we first met. After eRoom he went on the being a successful Venture Capitalist. Jeffrey and I are still good friends.

<a class="embedly-card" href="https://www.linkedin.com/in/jbeir">Jeffrey Beir | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

## Resources
* [Jeffrey Beir's template business model Spreadsheet](http://operatingmodel.seed2a.com/)
* [Slides from today's class](http://finance4geeks.seed2a.com/)
* [Operating Model Spreadsheet](http://operatingmodel.seed2a.com/)