---
title: Jimmy Briggs
---
* Our speaker today is Jimmy Briggs from iRobot. You can find [information about Jimmyy on LinkedIn](https://www.linkedin.com/in/jimmy-briggs/). You might ask him to link to you on linkedIn!

Jimmy's personal [web site is here](http://jimmybriggs.net/index.php) where he says: 

* "I am a researcher and software engineer at iRobot with expertise in Graphics, Vision, and Numerics. In addition to my primary work in Simultaneous Localization and Mapping (SLAM) and Machine Learning, I am interested in technologies that protect vulnerable populations, especially in the realm of Privacy and Security. 
    
<a class="embedly-card" data-card-align="left" href="https://www.linkedin.com/in/jimmy-briggs/">Jummy Briggs | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

