---
title: Larry Bohn
---
### Guest Lecturer

We are lucky today to have [Larry Bohn](https://www.linkedin.com/in/labohn/) lead the discussion. 

<a class="embedly-card" href="https://www.linkedin.com/in/labohn">Larry Bohn | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

