---
title: Michael Skok
---
## Guest Lecturer: Michael Skok
As an entrepreneur-turned-venture capitalist, Michael loves collaborating with young entrepreneurs, helping them explore their value propositions. However, many entrepreneurs lose out, due to never truly articulating a compelling value proposition. Establishing a substantive value proposition is critical if you want to start the journey from your “idea” to building a successful company. You can find [information about Andy on LinkedIn](https://www.linkedin.com/in/mjskok/). You might ask him to link to you on linkedIn as well.

<a class="embedly-card" href="https://www.linkedin.com/in/mjskok">Michael Skok | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

