---
title: Paul Baier
---
#### Guest Lecturer: Paul Baier

<a class="embedly-card" href="https://www.linkedin.com/in/paulbaier">Jeffrey Beir | LinkedIn</a>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

