---
title: Peter Grossman
---

Peter Grossman is a Brandeis Alum who has worked in the computer industry all his life. Uniquely he worked his way up the corporate ladder to the level of Vice President and decided he didn't like what he saw and worked his way back down to software engineer which is what he really loved in the end. Lately Peter has been working in industrial robotics at Horizon Discovery.

<hr/>

<a class="embedly-card" data-card-align="left" href="https://www.linkedin.com/in/peter-grossman-ab53474/">Peter Grossman | LinkedIn</a> <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

