---
title: Bodega 2.0
desc: Automating a small mini-mart or Bodega
---
* **Vision:**: Our vision is to give a small independently owned <a href="https://www.urbandictionary.com/define.php?term=bodega">bodega</a> or mini-mart a chance to compete with franchises of huge brands like <a href="https://www.7-eleven.com">7-11</a> or <a href="https://www.dunkindonuts.com/en">Dunkin Donuts</a>.

* **Variations**: There are many open questions for each team to play around with: What kind of independently owned store? What advantages does the franchise owner get from the parent? Do they help with marketing? Promotion? Customer acquisition? Customer retention? Advertising? Web presence? Mobile? How could we do that for the independent? What does the owner most want to help improve their business? How would your company make money? What kinds of customers does the store have? What could you do for those customers to entice them to shop at this store?

