---
title: Motorcycle Uber
desc:
---
* **Vision:** Our vision is that on demand motoricyle transportation will be an attractive alternative, providing faster, more flexible, and stylish transportation to a major class of customers

* **Variations:** The core idea is that we will engage highy skilled and safe motorcycle drivers to pick up and deliver passengers on demand. There are many questions to explore however. What advantages will customers focus on: the ability to bypass traffic? The coolness factor? The environmental impact (electric scooters)? How will customers look at safety? Can we convince them that our drivers are top notch and highly safe? Will we be able to have a price advantage over cars?Are there regulatory or legal issues that come into play? And many other questions!</p>
