---
title: Carpe Diem
desc: Impromptu events are happening on campus; announce, discover and join in
---
* **Proposer**: Pito Salas

* **Product name**: Carpe Diem

* **Tweet length summary of project:** Impromptu events are happening on campus; announce, discover and join in

* **Team Members:** N/a

* **Product Summary:** At Olin College there is a very popular mailing list called "Carpe Diem." It is used by students and staff to announce unofficial, informal, impromptu going ons. For example, meet on the lawn at 1 today for frisby game, or lots of left over pizza in kitchen on 3d floor, or going into Boston to demonstrate for minimum wage increase. Olin has less than 400 students which is likely an upper bound for the mailing list implementation.

  This product seeks to provide the same service with the same ultra simplicity, to a far larger community. To do this we will build the product as a mobile application for both announcing and browsing activities. To deal with information overload, each posted event will require one or more category tags. Users will be able to set notifications for events in categories of interest to them, with a certain time horizon.

  Simplicity of adoption and deployment will be paramount.

* **Elevator pitch:** In a busy and dynamic community like ours, impromptu meetings are constantly happening, whether it's a pick-up volleyball game or a group driving to Boston for a demonstration or simply a bunch of leftover pizzas that you'd like to share. Carpe Diem is a super simple mobile app for announcing and discovering happenings around campus. Never be at a loss to find something to do when find yourself with a free block of time.

* **Describe the customer(s):** There are two audiences. We are not sure yet whether we cater to one or both:
  * **Communinity members**, who want to be able to announce as well as browse for events. They will need very easy sign up and use. They will be concerned about privacy.
  * **Community Administration**:, who want to provide this as a campus wide service to benefit the community. They will be concerned about privacy and security. They will want to set policies about who can and cannot post or search.
<p></p>
* **Describe what "jobs" the product will do for the customer:**
  * Members:
    * discover something fun or interesting to do during free time
    * announce something fun or interesting that you want people to come to
  * Administration:
    * post an announcement to an officel event
    * look at metrics of the kinds of activities that are being searched
<p></p>
* **Customer Pains/Gains:** [describe what problems the product will eliminate for the customer]
  * Members:
    * feel connected with what is going on on campus
    * have a low friction way to let the community know about something you are doing
    * I have some time free and I wish I knew some things that were going on
    * I am putting together an event and want to bring people to it
  * Administration:
    * learn more about activities that people are looking for
    * engender community cohesiveness
    * an additional 'channel' to announce official events
    * increase community happiness
    * Address feedback that community members feel out of the loop
    * Makes it easier for new members to become active community members
<p></p>
* **Personal statement:** I've seen the popularity of this service at Olin, and also see that the Olin approach cannot scale to a larger community. I also know from talking to students that many feel like they don't know what is going on in their areas of interest. Another point that has been made is that there are random blocks of free time when people are interested in participating in something but don't have a good way to find out what's around.

> This, from an Olin Student: So, Carpe as a mailing list is the destination for serendipity. People send out emails about Urban Outfitters sales, free stuff, free food, cool events, anything Oliners could find interesting. I could imagine a mobile app version allows anyone to flash-submit an interesting on-campus occurrence or student-relevant event outside of campus. I’m sorting of thinking of slickdeals.net (a community-sourced deals site) but on a way shorter time scale and with more diverse items. It’d have to be really easy to send a Carpe, or maybe the app could watch a mailing list and apply some filters to deliver the user Carpe’s most relevant to them (for example, I want to know if someone is handing out computer RAM but I don’t care about free kale). It could be like a low-latency craigslist, especially if the communication is done instantly in-app.